@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
  
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(219, 219, 219);
  }
  
  .container{
    width: 90%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }

  .title{
    background: linear-gradient(120deg, rgb(0, 140, 255), rgb(10, 100, 218));
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: white;
  }

  .title h1{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .content{
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .search-group{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .input-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .input-box ul{
    position: absolute;
    top: 100%;
    background-color: white;
    max-height: 200px; 
    overflow-y: auto;
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  .input-box li{
    list-style-type: none;
    padding: 5px;
  }

  .input-box li:hover{
    background-color: rgb(230, 230, 230);
  }


  #nome{
    height: 2.4rem;
    background: none;
    border: 1px solid rgba(161, 161, 161, 0.473);
    border-radius: 5px;
    outline: none;
    width: 80%;
    padding-left: 15px;
  }


  .search-group button{
    padding: 0 15px;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    cursor: pointer;
  }

  #btnSearch{
    background: linear-gradient(120deg, rgb(0, 140, 255), rgb(10, 100, 218));
  }

  #addEmployee{
    background: linear-gradient(120deg, rgb(17, 236, 9), rgb(8, 182, 46));
  }



  .employees-box{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  #employee-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

  }



  .employee{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(184, 184, 184, 0.5); 
  }

  .employee:hover{
    background-color: rgba(236, 236, 236, 0.747);
  }

  
  .employee div p:last-of-type{
    font-size: 13px;
    color: rgba(51, 51, 51, 0.486);
  }
  

  
  #screen-employee{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(22, 22, 22, 0.658);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
    z-index: 3;
  }
  
  #screen-employee.active, .fade.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .infos-employee{
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: .5s;
    position: relative;
    overflow: hidden;
    gap: 10px;
  }

  .infos-employee button{
    cursor: pointer;
  }

  .top-info{
    background: linear-gradient(120deg, rgb(0, 140, 255), rgb(0, 68, 255));
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    color: rgba(231, 231, 231, 0.993)
  }

  .top-info #btnClose{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    color: white;
  }

  .top-info h2{
    font-size: 25px;
    font-weight: 800;
    color: white;
  }

  .bottom-info{
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .bottom-info .salario-group{
    font-size: 20px;
    color: rgba(54, 54, 54, 0.74);
    text-align: center;
  }

  .salario-group label{
    font-size: 30px;
    color: black;
    font-weight: 800;
  }

  .buttons-group{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 8px;
  }

  .buttons-group button{
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-weight: 600;
  }

  #btnAumento{
    background-color: rgb(38, 175, 26);
  }

  #btnDemitir{
    background-color: red;
  }

  .aumento-box{
    width: 100%;
    display: none;
    justify-content: space-between;
    gap: 10px;
  }

  .aumento-box input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: rgb(243, 243, 243);
  }

  .aumento-box button {
    background-color: rgb(0, 132, 255);
  }

  .fade{
      width: 100%;
      height: 100vh;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      transition: .2s ease;

  }
  .modal-dialog{
    height: 500px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
    background-color: white;
  }

  .modal-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;

  }

  .modal-header{
    background-color: rgb(22, 187, 22);
    width: 100%;
    height: 12vh;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    font-size: 25px;
    color: white;
  }

  .modal-header p{
    font-size: 14px;
    color: rgb(228, 228, 228);
  }

  .modal-header button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  .modal-body{
    width: 100%;
  }

  .modal-body form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  form .mb-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  .mb-3 input{
    width: 80%;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 10px;
    outline: none;
  }
  
  .modal-footer{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .modal-footer button {
    border: none;
    width: 8vw;
    height: 4vh;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }

  .btn-success {
    background-color: rgb(63, 187, 33);
    color: white;
  }




.toast-custom .toast-close {
  color: black; 
  background-color: transparent; 
  border: none; 
  font-size: 20px; 
  cursor: pointer; 
}

